@use 'base/variables' as v;

// Estilos por defecto
.btn {
	position: relative;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
	overflow: hidden;
	font-weight: 500;
	color: v.$blanco;
}

// Estilos simples
.btn-logout {
	border-radius: 1rem;
	height: 2.5rem;
	margin-top: 2.5rem;
	width: 98%;
	margin-left: 0.2rem;
}

.btn-submit {
	background-color: v.$azul;
	padding: 0.5rem;
    &:hover {
        opacity: .7;
    }
}

.btn-toggle {
	padding: 0.3rem;
	font-size: 10px;
	background-color: rgba(170, 0, 0, 0.5);
	border: 2px solid transparent;
	letter-spacing: 0.1rem;

	&:hover {
		opacity: 0.7;
		border: 2px solid rgba(170, 0, 0);
	}
}

// Estilos con animacion
.anim-link::after {
	content: '';
	position: absolute;
	bottom: 0;
	width: 0;
	height: 0.3rem;
	background-color: #a00;
	transition: width 0.5s ease, left 0.5s ease, right 0.5s ease;
}

.anim-link:hover::after {
	width: 100%;
}

// Estilos con gradientes
.anim-bg-gradient {
	background-image: linear-gradient(to right, #d00, violet, violet, #a00);
	background-size: 300% 100%;
	transition: background-position 0.5s ease-in-out;
	&:hover {
		background-position: 100% 0;
	}
}
