@use 'base/variables' as v;
@use 'base/mixins' as m;

html {
	font-size: calc(14px + (16 - 14) * ((100vw - 380px) / (1400 - 380)));
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: v.$fuente_principal;
}

p {
	color: v.$negro;
	line-height: 1.7;
}

a {
	text-decoration: none !important;
}

h1,
h2,
h3 {
	margin: 1rem 0 2.5rem 0;
	opacity: 0.4;
}

h2 {
	font-size: calc(25px + (32 - 25) * ((100vw - 380px) / (1400 - 380)));
}

img {
	min-width: 100%;
	display: block;
	height: auto;
	width: 100%;
}

.contenedor {
	min-width: v.$minWidth;
	overflow-y: hidden;
	height: 100vh;
	@include m.tablet {
		display: flex;
	}
}

.display__none {
	display: none !important;
}

.h-100vh {
	height: 100vh;
}

aside h2 {
	text-align: center;
	margin-bottom: 2rem;
}

.m-0 {
	margin: 0;
}

.mt-2 {
	margin-top: 2rem;
}

hr {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
}

.position-end {
	display: flex;
	justify-content: end;
}

.flex-responsive {
	display: flex;
	flex-flow: row wrap;
    gap: 1rem;
}

.justify-center {
    justify-content: center;
}

.align-end {
    align-items: end;
}

.text-center {
    text-align: center;
}

.contenedor-saldo {
    text-align: right;
    > p {
        font-weight: 500;
        opacity: .8;
        margin: 2rem;

        > span {
            letter-spacing: .2rem;
            color: v.$rojo;
        }
    }
}

.contenedor__montos,
.contenedor__monto {
	text-align: right;

	h3,
	p {
		font-weight: 500;
		margin: 3rem;
		opacity: 0.8;
		span {
			letter-spacing: 0.2rem;
			color: v.$rojo;
		}

		@include m.desktop {
			margin: 4rem 3rem 3rem;
		}
	}
}

.contenedor__montos {
	@include m.tablet {
		display: flex;
		justify-content: space-around;
	}
}