@use 'base/variables' as v;
@use 'base/mixins' as m;

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: v.$fuente_principal;
	font-size: 1.6rem;
}

p {
	font-size: 1.6rem;
	color: v.$negro;
	line-height: 1.7;
}

a {
	text-decoration: none !important;
	font-size: 1.7rem;
}

h1,
h2,
h3 {
	margin: 2rem 0 5rem 0;
	font-weight: 500;
	opacity: 0.7;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3.6rem;
}

h3 {
	font-size: 3rem;
}

img {
	min-width: 100%;
	display: block;
	height: auto;
	width: 100%;
}

.contenedor {
	min-width: v.$minWidth;
	@include m.tablet {
		display: flex;
		// gap: 2rem;
	}
}

.display__none {
	display: none !important;
}

.h-100vh {
	height: 100vh;
}

aside h2 {
	font-size: 2.4rem;
	text-align: center;
	margin-bottom: 4rem;
	@include m.tablet {
		font-size: 3.6rem;
	}
}

.btn {
	border-radius: 0.5rem;
    font-size: 1.3rem;
	border: none;
	cursor: pointer;
    transition: all 0.25s ease-in;
}

.m-0 {
    margin: 0;
}

.mt-4 {
    margin-top: 4rem;
}


hr {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
}