@use 'base/variables' as v;
@use 'base/mixins' as m;

html {
	font-size: calc(14px + (16 - 14) * ((100vw - 380px) / (1400 - 380)));
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: v.$fuente_principal;
}

p {
	color: v.$negro;
	line-height: 1.7;
}

a {
	text-decoration: none !important;
}

h1,
h2,
h3 {
	margin: 1rem 0 2.5rem 0;
	font-weight: 500;
	opacity: 0.7;
}

img {
	min-width: 100%;
	display: block;
	height: auto;
	width: 100%;
}

.contenedor {
	min-width: v.$minWidth;
	overflow-y: hidden;
	height: 100vh;
	@include m.tablet {
		display: flex;
	}
}

.display__none {
	display: none !important;
}

.h-100vh {
	height: 100vh;
}

aside h2 {
	text-align: center;
	margin-bottom: 2rem;
}

.m-0 {
	margin: 0;
}

.mt-4 {
	margin-top: 2rem;
}

hr {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
}
