@use 'base/mixins' as m;

.flip-card {
	height: 430px;
	position: relative;
	cursor: pointer;
	transition: transform 1s ease-in-out;
	transform-style: preserve-3d;
    transform-origin: center right;

    @include m.tablet { 
        height: 490px;
    }

}

.flip-card-hover {
	transform: translateX(-100%) rotateY(-180deg);
}

.flip-face {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: visible;
	backface-visibility: hidden;
}

.flip-front {
	transform: rotateY(0deg);
}

.flip-back {
	transform: rotateY(180deg);
}