@use 'base/mixins' as m;

/* ************* Flip ************* */

.flip-container {
    width: 50%;
    margin-inline: auto;
    min-width: 360px;
    top: -50px;
}

.flip-card {
    height: 430px;
    position: relative;
    transition: transform 1s ease-in-out, top 1s ease-in-out;
    transform-style: preserve-3d;
    transform-origin: center right;

    @include m.tablet {
        height: 490px;
    }
}

.flip-card-hover {
    top: 0px;
    transform: translateX(-100%) rotateY(-180deg);
}

.flip-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: visible;
    backface-visibility: hidden;
}

.flip-front {
    transform: rotateY(0deg);
}

.flip-back {
    transform: rotateY(180deg);
}

/* ************* Fade in down ************* */

.fade-in-down {
    transition: transform 1s ease-in-out, opacity 1s ease-in-out,
        bottom 1s ease-in-out;
    transform: translate(0, -50px);
    opacity: 0;
    pointer-events: none;
    position: relative;
    bottom: 50px;
}

.fade-in-down.active {
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
    transform: translate(0, 0);
}
