@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor__movimientos {
	width: 100%;
	select,
	input {
		font-size: 1.6rem;
		padding: 0.7rem 2rem;
		border-radius: 0.5rem;
		border: 2px solid #6a6969;

		@include m.tablet {
			width: 80%;
			max-width: 26rem;
		}
	}

	.contenedor__filtro {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		width: 90%;
		margin: 1rem auto;
		flex-wrap: wrap;

		@include m.tablet {
			flex-direction: row;
			justify-content: space-around;
		}
	}

	.contenedor__boton {
		text-align: center;
		margin: 2rem auto 1rem;

		button {
			width: 90%;
			padding: 1rem;
			background-color: v.$azul;
			color: v.$blanco;
            font-size: 1.4rem;
            
			@include m.tablet {
                width: 34rem;
                font-size: 1.6rem;
			}

			&:hover {
				opacity: 0.8;
			}
		}
	}
}

.contenedor__montos,
.contenedor__monto {
	text-align: right;

	h3,
	p {
		font-size: 1.6rem;
		font-weight: 500;
		margin: 3rem;
		opacity: 0.8;
		span {
			letter-spacing: 0.2rem;
			color: v.$rojo;
		}

		@include m.desktop {
			font-size: 2rem;
			margin: 4rem 3rem 3rem;
		}
	}
}

.contenedor__montos {
	@include m.tablet {
		display: flex;
		justify-content: space-around;
	}
}

.display--none {
	display: none;
}
