@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario-overlay {
	background-color: v.$gris;
	position: fixed;
	top: 0rem;
	bottom: 0;
	left: 0;
	right: 0;
}

.formulario {
	min-width: v.$minWidth;
	overflow: hidden;

	*:not(input, select, textarea) {
		text-align: center;
	}

	.icon__close {
		text-align: right;

		button {
			font-size: 3rem;
			color: #6a6969;
			background-color: transparent;
			cursor: pointer;
			border: none;

			&:hover {
				color: v.$rojo;
			}
		}
	}

	.contenedor__formulario {
		max-width: 50rem;
		min-width: v.$minWidth;
		padding: 2rem;
		margin: auto;
	}

	.contenedor__formulario-overlay {
		width: 90%;
		max-width: 50rem;
		min-width: v.$minWidth;
		margin: auto;
		background-color: v.$blanco;
		border-radius: 0.5rem;
		padding: 2rem;
		margin-top: 10rem;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
	}

	.contenedor__formulario,
	.contenedor__formulario-overlay {
		h3 {
			font-size: 2.4rem;
			margin: 1rem auto 3rem;

			@include m.tablet {
				font-size: 3rem;
			}
		}

		p {
			color: v.$rojo;
		}

		span {
			letter-spacing: 0.1rem;
		}
	}

	form {
		margin-top: 3rem;

		.contenedor__btn {
			margin-top: 2rem;

			button {
				width: 100%;
				padding: 0.7rem 1rem;
				background-color: v.$azul;
				color: v.$blanco;

				&:hover {
					opacity: 0.8;
				}
			}
		}
	}

	.form__group {
		margin-top: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2rem;

		* {
			font-size: 1.4rem;

			@include m.tablet {
				font-size: 1.6rem;
			}
		}

		*:not(label) {
			border-radius: 0.5rem;
			border: 2px solid #6a6969;
			outline: none;
		}

		input,
		textarea {
			width: 70%;
			min-width: 70%;
		}

		select {
			width: 100%;
		}

		label {
			width: 25%;
		}

		input,
		select {
			height: 3.2rem;
		}

		textarea {
			height: 8rem;
		}
	}
}
