@use './base/mixins' as m;
@use './base/variables' as v;

.contenedor__ingresos {
    width: 100%;
}

.group__ingresos {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    
    @include m.tablet {
        gap: 0;
        justify-content: space-evenly;
    }

    @include m.desktop {
        gap: 5rem;
        justify-content: center;
    }

}
 
.group__input {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

    @include m.tablet {
        gap: 2rem;
        flex-direction: row;
    }
    
	input {
        width: 20rem;
		border-radius: 0.5rem;
		border: 2px solid #6a6969;
		outline: none;
        padding: .3rem .2rem;

	}

   
}

.btn-ingreso-actualiza {
    height: 3.5rem;
    background-color: v.$azul;
    color: v.$blanco;

    &:hover {
		opacity: 0.8;
	}
}

.contenedor__formularios {
    @include m.desktopXL {
        display: flex;
        justify-content: space-evenly;
    }

    .formulario {
        margin-top: 2rem;
        margin-bottom: 2rem;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.35);

        @include m.desktopXL {
            margin-top: 5rem;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
        }
    }
}