@use 'base/variables' as v;
@use 'base/mixins' as m;

.gasto {
	color: rgb(245, 149, 149, 0.8);
}

.ingreso {
	color: rgba(52, 179, 243, 0.8);
}

.contenedor-table {
	overflow: auto;
	height: 50vh;
	padding: 0.2rem;
	margin-top: 2rem;

	> table {
		width: 90%;
		min-width: 400px;
		border-collapse: collapse;
		margin-inline: auto;
		font-size: calc(10px + (14 - 10) * ((100vw - 380px) / (1400 - 380)));
		box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.25);
		font-weight: 500;
		opacity: 0.9;

		> thead {
			position: sticky;
			top: 0;
			background-color: v.$blanco;
		}

		> thead,
		> tbody {
			th,
			td {
				padding: 1.5rem 0.5rem;
				text-align: center;
				border-bottom: 2px solid v.$gris;
			}
		}

		> tbody {
			> tr:hover {
				background-color: rgb(245, 149, 149, 0.5);
				color: white; 
			}
		}
	}
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/
.contenedor-table::-webkit-scrollbar {
	-webkit-appearance: none;
}

.contenedor-table::-webkit-scrollbar:vertical {
	width: 10px;
}

.contenedor-table::-webkit-scrollbar-button:increment,
.contenedor-table::-webkit-scrollbar-button {
	display: none;
}

.contenedor-table::-webkit-scrollbar:horizontal {
	height: 10px;
}

.contenedor-table::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 20px;
}

.contenedor-table::-webkit-scrollbar-track {
	border-radius: 10px;
}
