@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor__table {
	overflow: auto;
	height: 37rem;
    position: relative;

	table {
		width: 95%;
		min-width: 53rem;
		font-size: 1.2rem;
		margin: 1rem 1rem;
		box-shadow: 0.1rem 0.13rem 0.4rem #333;
		border-radius: 0.5rem;
		border-collapse: collapse;

		@include m.desktop {
			max-width: 93rem;
			margin: 3rem auto;
			font-size: 1.3rem;
		}

        thead {
            position: sticky;
            top: 0;
            background-color: v.$blanco;
            border-radius: .5rem;
            // color: v.$blanco;
        }

		thead,
		tbody {
			th,
			td {
				padding: 1.5rem 0.5rem;
				text-align: center;
				border-bottom: 2px solid v.$gris;
			}

			tr {
				&:hover {
					background-color: v.$azulClaro;
				}
			}

            th {
                font-size: 1.2rem;
            }
		}
	}
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/
.contenedor__table::-webkit-scrollbar {
	-webkit-appearance: none;
}

.contenedor__table::-webkit-scrollbar:vertical {
	width: 10px;
}

.contenedor__table::-webkit-scrollbar-button:increment,
.contenedor__table::-webkit-scrollbar-button {
	display: none;
}

.contenedor__table::-webkit-scrollbar:horizontal {
	height: 10px;
}

.contenedor__table::-webkit-scrollbar-thumb {
	background-color: #797979;
	border-radius: 20px;
	border: 2px solid #f1f2f3;
}

.contenedor__table::-webkit-scrollbar-track {
	border-radius: 10px;
}

.btn-prestamos {
	font-size: 1.3rem;
	padding: 0.5rem;
	background-color: v.$verde;
	border-radius: 0.5rem;
	cursor: pointer;
}
